/**************
** Page Head **
**************/

.page-head {
	min-height: 130px;
	background: url(../images/catalog-bg.jpg) no-repeat;
	background-size: cover;
	position: relative;
	margin-bottom: 60px;
}

.page-head:before {
	position: absolute;
	display: block;
	content: "";
	height: 100%;
	width: 100%;
	background: rgba(0,0,0,0.75);
}

.breadcrumbs-list {
	margin-top: 85px;
}

.breadcrumbs-item {
	font-family: 'anglecia_pro_displayregular';
	display: inline-block;
	margin-right: 30px;
	position: relative;
	color: #bfa48d;
	font-size: 1rem;
}

.breadcrumbs-item:after {
	position: absolute;
	content: "/";
	display: block;
	font-size: 1.250rem;
	font-weight: bold;
	right: -20px;
	top: 50%;
	transform: translateY(-50%);
}

.breadcrumbs-item_active:after {
	display: none;
}

.breadcrumbs-link {
	display: block;
}

.breadcrumbs-item_active {
	color: #cdcdcd;
}

/**********
** card ***
**********/

.card {
	margin-bottom: 25px;
}

.page-title {
	font-size: 1.875rem;
	color: #bfa48d;
	margin-bottom: 60px;
	text-align: center;
	font-family: 'anglecia_pro_displayregular';
}

.slider-card {
	height: 500px;
	margin-bottom: 15px;
}

.slider-card__c-left,
.slider-card__c-right {
	background: url(../images/icons/sprite-slides.png) no-repeat;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 18px;
	height: 40px;
	background-position: -133px -1013px;
}

.slider-card__c-right {
	background-position: -133px -1619px;
}

.slider-thumbs__item {
	height: 110px;
}

.slider-thumbs__link {
	display: block;
	cursor: pointer;
	max-width: 100%;
}

.slider-thumbs {
	margin-bottom: 15px;
}

.slider-card-info {
	text-align: center;
	border: 1px solid #bfa48d;
	height: 500px;
	padding: 30px;
	margin-bottom: 15px;
}

.card-info__subtitle {
	color: #2a2a2a;
	font-size: 0.938rem;
	margin-bottom: 5px;
}

.card-info__ammount {
	color: #bfa48d;
	font-size: 2.688rem;
	line-height: 2.688rem;
	font-family: 'anglecia_pro_displaymedium';
}

.card-info__ammount_sm {
	color: #bfa48d;
	font-size: 1.063rem;
}

.card-info-download {
	color: #bfa48d;
	font-size: 0.813rem;
	font-family: 'open_sansbold';
}

.card-info-download:hover,
.card-info-download:focus {
	color: #bfa48d;
}

.card-info-consultation {
	font-family: 'open_sansbold';
	height: 60px;
	line-height: 3.750rem;
	color: #fff;
	background: #88c048;
	text-align: center;
	width: 85.5%;
	display: inline-block;
	text-transform: uppercase;
	font-size: 0.813rem;
	letter-spacing: 1px;
}

.card-info-consultation:hover,
.card-info-consultation:focus {
	color: #fff;
}

.card-info-row-1,
.card-info-row-2,
.card-info-row-3,
.card-info-row-4 {
	margin-bottom: 25px;
	padding-bottom: 25px;
	border-bottom: 1px solid #e9dfd7; 
}

.card-info-row-2_block {
	width: 50%;
	display: inline-block;
}

.slider-card-subinfo {
	border: 1px solid #bfa48d;
	height: 110px;
	padding: 25px 20px 20px 20px;
	margin-bottom: 15px;
}

.slider-card-subinfo__item {
	font-size: 0.750rem;
	color: #2a2a2a;
	display: inline-block;
	width: 48%;
	margin-bottom: 25px;
}

.slider-card-subinfo__item_bold {
	color: #bfa48d;
}

.card-icons-list {
	margin-bottom: 50px;
}

.card-icons-item__icon {
	background: #fbf5f0;
	display: block;
	height: 110px;
	padding-top: 75px;
	text-align: center;
	font-size: 0.750rem;
	position: relative;
}

.card-icons-item__icon:before {
	position: absolute;
	display: block;
	content: "";
	left: 50%;
	transform: translateX(-50%);
	top: 20px;
	background: url(../images/icons/sprite-card.png) no-repeat;
}

.card-icons-item__icon.icon-1:before {
	width: 39px;
	height: 48px;
	background-position: -125px -125px;
}

.card-icons-item__icon.icon-2:before {
	width: 50px;
	height: 47px;
	background-position: -125px -423px;
}

.card-icons-item__icon.icon-3:before {
	width: 48px;
	height: 47px;
	background-position: -125px -720px;
}

.card-icons-item__icon.icon-4:before {
	width: 57px;
	height: 48px;
	background-position: -125px -1017px;
}

.card-icons-item__icon.icon-5:before {
	width: 39px;
	height: 46px;
	background-position: -125px -1315px;
}

.card-icons-item__icon.icon-6:before {
	width: 51px;
	height: 25px;
	top: 35px;
	background-position: -125px -1611px;
}

.card-description {
	font-size: 0.938rem;
}

/***********
*** price **
***********/

.price-title {
	font-size: 1.563rem;
	margin-bottom: 30px;
}

.price-tab-list {
	border-bottom: 1px solid #bfa48d;
}

.price-tab-item {
	font-size: 1.250rem;
	margin-right: 100px;
	position: relative;
}

.price-tab-item.active:before,
.price-tab-item:hover:before {
	position: absolute;
	height: 100%;
	display: block;
	content: "";
	height: 4px;
	bottom: -4px;
	left: 0;
	width: 100%;
	background: #bfa48d;
}

.price-tab-link,
.price-tab-link .active {
	background: none !important;
	border: none !important;
	padding: 0 0 5px 0 !important;
}

.tab-content {
	padding: 40px 0;
	margin-bottom: 20px;
}

.tab-pane {
	position: relative;
}

.tab-content__price {
	font-size: 2.688rem;
	color: #bfa48d;
	font-family: 'anglecia_pro_displaymedium';
	height: 100px;
	line-height: 6.250rem;
	border-top: 1px solid #bfa48d;
	border-bottom: 1px solid #bfa48d;
	position: absolute;
	right: 0;
	top: 85px;
	text-align: center;
}

.tab-wall__item {
	display: block;
	margin-bottom: 30px;
}

.tab-wall__item:last-child {
	margin-bottom: 0;
}

.tab-wall__item-title {
	font-family: 'open_sansbold';
	font-size: 1.063rem;
	color: #bfa48d;
	margin-bottom: 5px;
	padding-left: 15px;
}

.tab-wall__item-description {
	font-size: 1.063rem;
	color: #2a2a2a; 
}

/******************
** consultat-pop **
******************/

.consultation-pop-up__container {
	padding: 50px 65px 40px 65px;
}