/*****************
**** MEDIA *******
*****************/


/************
***  xs  ****
************/
@media screen and (max-width: 767px) {
	html {
		font-size: 12px;
	}

	.header__xs {
		height: 75px;
		padding-bottom: 15px; 
		padding-top: 15px;
	}
	
	.header__xs-wrapper {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}

	.h-mobile__menu {
		border: none;
		outline: none;
		cursor: pointer;
		background: url(../../images/icons/sprite-main_xs.png) no-repeat;
		width: 20px;
		height: 16px;
		background-position: -75px -270px;
	}

	.h-mobile__logo-link {
		display: block;
	}

	.h-mobile__call {
		display: block;
		background: url(../../images/icons/sprite-main_xs.png) no-repeat;
		width: 25px;
		height: 25px;
		background-position: -75px -2374px;
	}

	.mobile-nav {
		position: fixed;
		padding-top: 30px;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: 999999999;
		background: white;
	}

	.mobile-nav-wrapper {
		overflow: auto;
		max-height: 85vh;
	}

	.mobile-nav__tel {
		font-family: 'anglecia_pro_displaymedium';
		font-size: 1.333rem;
		color: #c6aa92;
		margin-bottom: 10px;
		padding-right: 25px;
		padding-left: 32px;
		position: relative;
	}

	.mobile-nav__tel:before {
		position: absolute;
		content: "";
		display: block;
		width: 16px;
		height: 16px;
		background: url(../../images/icons/sprite-main_xs.png) no-repeat;
		background-position: -75px -2208px;
		left: 0;
		top: 50%;
		transform: translateY(-50%);
	}

	.mobile-nav__email,
	.mobile-nav__email:hover,
	.mobile-nav__email:focus {
		display: inline-block;
		font-family: 'anglecia_pro_displaymedium';
		position: relative;
		color: #c6aa92;
		font-size: 1.167rem;
		padding-left: 32px;
		padding-right: 25px;
		margin-bottom: 25px;
	}

	.mobile-nav__email:before {
		position: absolute;
		content: "";
		display: block;
		width: 19px;
		height: 12px;
		background: url(../../images/icons/sprite-main_xs.png) no-repeat;
		background-position: -75px -2046px;
		left: 0;
		top: 50%;
		transform: translateY(-50%);
	}

	.mobile-nav__button-close {
		position: absolute;
		top: 30px;
		right: 15px;
		background: url(../../images/icons/sprite-main_xs.png) no-repeat;
		width: 17px;
		height: 17px;
		background-position: -75px -598px;
	}

	.panel {
		margin-bottom: 0;
		background-color: inherit;
		border: none;
		border-radius: 0;
		box-shadow: none;
	}

	.accordion-item {
		position: relative;
		padding: 0 15px 0 0;
		color: black;
		font-size: 1.333rem;
		border-top: 1px solid #ece4dd;
	}

	.accordion-link[aria-expanded="true"] {
		color: #bfa48d;
	}

	.accordion-link[aria-expanded="true"]:before {
		width: 12px;
		height: 6px;
		background-position: -75px -765px;
	}

	.accordion-link {
		height: 50px;
		line-height: 4.167rem;
		position: relative;
		display: block;
	}

	.accordion-link_caret:before {
		position: absolute;
		display: block;
		content: "";
		background: url(../../images/icons/sprite-main_xs.png) no-repeat;
		width: 6px;
		height: 12px;
		background-position: -75px -436px;
		top: 50%;
		transform: translateY(-50%);
		right: 30px;
	}

	.accordion-body-list {
		padding: 0 40px 0px 40px;
	}

	.accordion-body-item {
		font-size: 1.333rem;
		margin-bottom: 20px;
	}

	.accordion-body-item:last-child {
		margin-bottom: 0;
		padding-bottom: 15px;
	}

	.accordion-body-link {
		display: block;
	}

	.collapsing {
		transition-timing-function: ease-in;
	}

	.centered-xs {
		text-align: center;
		margin: auto;
		float: none;
	}

	.carousel-indicators {
		height: 10px;
	}

	.carousel-indicators li {
		width: 8px !important;
		height: 8px !important;
		border-color: #fff;
	}

	.carousel-indicators li.active {
		width: 8px !important;
		height: 8px !important;
	}

	.carousel-indicators li.active:before {
		height: 4px;
		width: 4px;
	}

	#carousel .carousel-indicators:before, 
	#carousel .carousel-indicators:after {
		display: none;
	}
	
	#carousel .carousel-caption {
		position: relative;
		padding: 15px 0;
	}

	#carousel .carousel-inner .item:before {
		display: none;
	}
	
	#carousel .slide-img_shading {
		position: relative;
	}

	#carousel .slide-img_shading:before {
		position: absolute;
		display: block;
		content: "";
		height: 100%;
		width: 100%;
		background: rgba(0,0,0,0.5);
		z-index: 1;
	}

	#carousel .carousel-caption__title {
		font-size: 1.667rem;
		color: black;
		margin-bottom: 10px;
	}

	#carousel .carousel-caption__description {
		font-size: 1.333rem;
		color: black;
		margin-bottom: 10px;
	}

	#carousel .button-carousel {
		font-size: 1.167rem;
		display: inline-block;
		width: auto;
		border-top: none;
		height: 17px;
		line-height: 1.000rem;
	}

	#carousel .carousel-caption_shading {
		background: none;
		padding: 0;
	}

	#carousel .carousel-caption {
		text-shadow: none;
	}

	#carousel {
		border-bottom: 1px solid #ece4dd;
	}

	#carousel .indicators-container {
		bottom: 130px;
	}

	.building-row-1 {
		padding: 30px 0;
		border-bottom: 1px solid #ece4dd;
	}

	.building__title {
		font-size: 1.333rem;
		margin-bottom: 25px;
	}

	.button-building,
	.button-building:hover,
	.button-building:focus {
		font-size: 1.167rem;
		display: inline-block;
		width: auto;
		border-top: none;
		height: 17px;
		line-height: 1.000rem;
		text-transform: uppercase;
		background: none;
		margin-bottom: 0;
	}

	.popular__title {
		margin: 30px 0 20px 0;
		font-size: 1.667rem;
		padding: 0 7%;
	}

	.popular__title:before {
		left: 0;
		width: 6%;
	}

	.popular__title:after {
		right: 0;
		width: 6%;
	}

	#carousel-constructed .carousel-caption,
	#carousel-popular .carousel-caption {
		position: relative;
		text-shadow: none;
		padding-top: 10px;
	}

	#carousel-constructed .carousel-caption__title,
	#carousel-popular .carousel-caption__title {
		font-size: 1.333rem;
		color: black;
		margin-bottom: 5px;
	}

	#carousel-constructed .carousel-caption__description-item,
	#carousel-popular .carousel-caption__description-item {
		font-size: 1rem;
		color: black;
		margin-bottom: 5px;
	}

	#carousel-constructed .carousel-caption__description-list,
	#carousel-popular .carousel-caption__description-list {
		margin-bottom: 20px;
	}

	#carousel-constructed .indicators-container,
	#carousel-popular .indicators-container {
		bottom: 105px;
	}
	
	#carousel-constructed .carousel-indicators:before, 
	#carousel-constructed .carousel-indicators:after,
	#carousel-popular .carousel-indicators:before, 
	#carousel-popular .carousel-indicators:after {
		display: none;
	}

	#carousel-constructed .carousel-indicators li,
	#carousel-popular .carousel-indicators li {
		position: relative;
		top: 0;
		transform: none;
		margin-right: 4.5%;
		background: #fff;
	}

	#carousel-constructed .carousel-indicators li.active,
	#carousel-popular .carousel-indicators li.active {
		background: #bfa48d;
	}

	#carousel-constructed .carousel-indicators li:last-child,
	#carousel-popular .carousel-indicators li:last-child {
		margin-right: 0;
	}

	.carousel-inner {
		width: auto;
	}

	.popular__button,
	.popular__button:hover,
	.popular__button:focus {
		font-size: 1.167rem;
		display: inline-block;
		width: auto;
		border-top: none;
		height: 17px;
		line-height: 1.000rem;
		text-transform: uppercase;
		background: none;
		margin-bottom: 30px;
	}

	.popular {
		background: none;
		border-bottom: 1px solid #ece4dd;
	}

	.constructed {
		margin: 0;
		padding: 0 15px;
		border: none;
	}

	.constructed__title {
		margin: 30px 0 20px 0;
		font-size: 1.667rem;
		padding: 0 7%;
		position: relative;
	}

	.constructed__title:before, 
	.constructed__title:after {
		content: "";
		position: absolute;
		top: 50%;
		height: 1px;
		width: 6%;
		background: #bfa48d;
	}

	.constructed__title:before {
		left: 0;
	}

	.constructed__title:after {
		right: 0;
	}

	.constructed .row:first-child {
		padding: 0 15px;
	}

	.constructed__button,
	.constructed__button:hover,
	.constructed__button:focus {
		font-size: 1.167rem;
		display: inline-block;
		width: auto;
		border-top: none;
		height: 17px;
		line-height: 1.000rem;
		text-transform: uppercase;
		background: none;
		margin-bottom: 30px;
	}

	.container-constructed {
		border-bottom: 1px solid #ece4dd;
	}
	
	.services-list {
		padding: 35px 15px 0 15px;
	}

	.services-item {
		background: none;
		padding-top: 50px;
		margin-right: 0;
		margin-bottom: 35px;
		width: 50%;
		position: relative;
		float: left;
	}

	.services__text {
		padding-left: 0;
		text-align: center;
	}

	.services-container {
		background: none;
	}

	.services {
		position: relative;
		margin-bottom: 0;
	}

	.services:before {
		background: url(../../images/grad.png) no-repeat;
		display: block;
		content: "";
		position: absolute;
		height: 100%;
		width: 100%;
	}

	.services-img_1:before {
		top: 0;
		background: url(../../images/icons/sprite-main_xs.png) no-repeat;
		position: absolute;
		display: block;
		content: "";
		width: 45px;
		height: 45px;
		background-position: -75px -75px;
		left: 50%;
		transform: translateX(-50%);
	}

	.services-img_2:before {
		top: 0;
		background: url(../../images/icons/sprite-main_xs.png) no-repeat;
		position: absolute;
		display: block;
		content: "";
		width: 45px;
		height: 41px;
		background-position: -75px -1085px;
		left: 50%;
		transform: translateX(-50%);
	}

	.services-img_3:before {
		top: 0;
		background: url(../../images/icons/sprite-main_xs.png) no-repeat;
		position: absolute;
		display: block;
		content: "";
		width: 39px;
		height: 45px;
		background-position: -75px -1851px;
		left: 50%;
		transform: translateX(-50%);
	}

	.services-img_4:before {
		top: 0;
		background: url(../../images/icons/sprite-main_xs.png) no-repeat;
		position: absolute;
		display: block;
		content: "";
		width: 41px;
		height: 41px;
		background-position: -75px -1660px;
		left: 50%;
		transform: translateX(-50%);
	}

	.services-img_5:before {
		top: 0;
		background: url(../../images/icons/sprite-main_xs.png) no-repeat;
		position: absolute;
		display: block;
		content: "";
		width: 45px;
		height: 43px;
		background-position: -75px -1276px;
		left: 50%;
		transform: translateX(-50%);
	}

	.services-img_6:before {
		top: 0;
		background: url(../../images/icons/sprite-main_xs.png) no-repeat;
		position: absolute;
		display: block;
		content: "";
		width: 33px;
		height: 41px;
		left: 50%;
		transform: translateX(-50%);
		background-position: -75px -1469px;
	}

	.consultation {
		padding-top: 35px;
		padding-bottom: 35px;
		margin-bottom: 0;
	}

	.consultation-title {
		font-size: 1.417rem;
		margin-bottom: 25px;
	}

	.consultation-title:before {
		bottom: -15px;
	}

	.consultation-description {
		font-size: 1.167rem;
	}

	.consultation .row-1:before {
		display: none;
	}

	.consultation .row-1 {
		margin-bottom: 45px;
	}

	.form-title {
		margin-bottom: 20px;
		font-size: 1.333rem;
	}

	.form-container:before,
	.form-container:after {
		display: none;
	}

	.form-container {
		border: none;
		padding: 0;
	}

	.form-tel {
		margin-bottom: 20px;
	}

	.form-group_reverse {
		display: flex;
		flex-direction: column-reverse;
		margin-bottom: 20px;
	}

	.form-area {
		height: 50px !important;
	}

	.form-area::-webkit-input-placeholder {
		line-height: 2.917rem;
	}

	.form-control {
		font-size: 0.917rem;
	}

	.button-form,
	.button-form:hover,
	.button-form:focus {
		font-size: 1.167rem;
		display: inline-block;
		width: auto;
		border-top: none;
		height: 17px;
		line-height: 1.000rem;
		background: none;
		text-transform: uppercase;
	}

	.footer .container {
		padding-top: 30px;
		padding-bottom: 40px;
	}

	.info-list-item {
		margin-bottom: 20px;
	}

	.info-list-item:last-child {
		margin-bottom: 0;
	}

	.info-list-item_container {
		padding: 10px 0 10px 30px;
	}

	.info-list__title {
		font-size: 1.333rem;
		margin-bottom: 10px;
	}

	.info-list__descriprion {
		font-size: 1rem;
	}

	.footer-info-list {
		margin-bottom: 25px;
	}

	.footer-subnav-list {
		padding-left: 30px;
	}

	.footer-subtitle {
		padding-left: 30px;
		font-size: 1.333rem;
		margin-bottom: 10px;
	}

	.footer-subtitle:before {
		width: 20px;
	}

	.subnav-item {
		font-size: 1rem;
		margin-bottom: 10px
	}

	.scroll-top {
		background: url(../../images/icons/sprite-main_xs.png) no-repeat;
		position: absolute;
		width: 30px;
		height: 14px;
		background-position: -75px -921px;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	.scroll-top-wrapper.show:hover {
		background: none;
	}

	.call-pop-up__dialog {
		max-width: 90%;
	}

	.call-pop__container {
		padding: 20px 15px 30px 15px;
		min-height: 1px;
	}

	.call-pop__title {
		font-size: 1.333rem;
	}

	.call-pop__description {
		font-size: 1rem;
		margin-bottom: 25px;
		padding: 0;
	}

	.call-pop__input {
		font-size: 1rem;
	}

	.call-pop__button-sumbit {
		font-size: 1.083rem;
		width: 100%;
	}

	.call-pop__close-button {
		top: 2%;
		right: 2%;
	}
}


/************
***  sm  ****
************/
@media screen and (min-width: 768px) and (max-width: 1199px) {
	.container {
		width: 750px;
	}

	html {
		font-size: 14px;
	}
	
	.header__info {
		background-size: 93px 331px;
		background-position: -38px -119px;
		padding-left: 25px;
	}

	.header__tel {
		margin-left: 5px;
		padding-left: 20px;
		font-size: 1rem;
		background-size: 93px 331px;
		background-position: -38px -33px;
	}
	
	.carousel-caption__title {
		font-size: 1.571rem;
	}

	.carousel-caption__description {
		font-size: 1.214rem;
	}

	.button-carousel {
		font-size: 0.714rem;
	}

	.building__title {
		font-size: 1.214rem;
	}

	.button-building {
		font-size: 0.714rem;
	}

	.building-item {
		font-size: 0.714rem;
	}

	.popular__image_hover {
		font-size: 0.714rem;
	}

	.popular__description-title {
		font-size: 1rem;
	}

	.popular__description-item {
		font-size: 0.786rem;
	}

	.popular__button {
		font-size: 0.875rem;
	}

	.constructed__title {
		font-size: 1.214rem;
	}

	.carousel-2__link-img_hover-description__title {
		font-size: 0.875rem;
	}

	.carousel-2__link-img_hover-description__item {
		font-size: 0.714rem;
	}

	.carousel-2__link-img_hover-text {
		font-size: 0.643rem;
	}

	#carousel .left.carousel-controls:hover {
		background-position: -75px -630px;
		background-size: 199px 1318px;
	}

	#carousel  .right.carousel-controls:hover {
		background-position: -80px -1007px;
		background-size: 199px 1318px;
	}

	.constructed__button {
		font-size: 0.875rem;
	}

	.services__text {
		font-size: 0.875rem;
	}

	.consultation-title {
		font-size: 1.143rem;
	}

	.consultation-description {
		font-size: 0.857rem;
	}

	.form-title {
		font-size: 1.143rem;
	}

	.form-control {
		font-size: 0.643rem;
	}

	.button-form {
		font-size: 0.714rem;
	}

	.info-list__title {
		font-size: 0.786rem;
	}

	.info-list__descriprion {
		font-size: 0.643rem;
	}

	.footer-subtitle {
		font-size: 0.643rem;
	}

	.subnav-item {
		font-size: 0.643rem;
	}
	
	.footer-title {
		font-size: 0.571rem;
	}

	.copyright-title,
	.copyright-text {
		font-size: 0.571rem;
	}

	.header__top {
		padding: 10px 0;
	}

	.nav-item {
		margin: 0;
		line-height: 5.714rem;
	}

	.nav-item_logo {
		max-width: 67px;
	}
	
	.nav-link_carret {
		margin-right: 17px;
	}

	.nav-item__dropdown {
		width: 205px;
	}
	
	.nav-dropdown__link {
		background-position: -39px -322px;
		background-size: 103px 379px;
	}

	.nav-link_carret:before {
		display: block;
		content: "";
		position: absolute;
		height: 100%;
		width: 17px;
		top: 0;
		right: -17px;
		border-top: 3px solid white;
		border-bottom: 3px solid white;
	}

	.nav-list {
		text-align: justify;
		line-height: 0;
		font-size: 1px;
		margin: 0;
		height: 79px;
	}

	.nav-list:after {
		width: 100%;
		height: 0;
		visibility: hidden;
		overflow: hidden;
		content: '';
		display: inline-block;
	}

	.left.carousel-controls {
		background-position: -127px -133px;
	}

	.right.carousel-controls {
		background-position: -132px -422px;
	}

	.carousel-controls {
		height: 24px;
	}

	.carousel-indicators {
		height: 24px;
	}

	.carousel-indicators:before, 
	.carousel-indicators:after {
		width: 43%;
	}

	.button-carousel {
		height: 28px;
		line-height: 1.9rem;
	}

	.carousel-caption_shading {
		padding-bottom: 5.5%;
	}

	.carousel-caption__description {
		margin-bottom: 10px;
	}

	.carousel-indicators li {
		width: 6px !important;
		height: 6px !important;
	}

	.carousel-indicators li.active {
		width: 6px !important;
		height: 6px !important;
	}

	.carousel-indicators li.active:before {
		width: 2px;
		height: 2px;
	}

	.carousel-indicators:before, 
	.carousel-indicators:after {
		width: 101px;
	}

	.carousel-indicators:before {
		left: 6px;
	}

	.carousel-indicators:after {
		right: 6px;
	}

	.carousel-caption__title {
		padding-top: 5px;
	}

	.building-row-2 .col-sm-10.col-centered:before, 
	.building-row-2 .col-sm-10.col-centered:after {
		top: 55px;
	}

	.building-row-2 .col-sm-10.col-centered:before {
		left: -440px;
	}

	.building-row-2 .col-sm-10.col-centered:after {
		right: -440px;
	}

	.building-row-1 {
		padding-top: 25px;
	}

	.building__title {
		margin-bottom: 15px;
	}

	.button-building,
	.button-building:hover,
	.button-building:focus {
		width: 162%;
		margin-left: -30px;
		height: 27px;
		line-height: 1.857rem;
		margin-bottom: 30px;
		font-size: 0.714rem;
	}

	.building-list {
		padding: 30px 42px 15px 42px;
	}

	.building-img-container {
		margin-bottom: 5px;
		height: 45px;
	}

	.building-img {
		max-height: 100%;
	}

	.building-row-2 {
		margin-bottom: 30px;
	}

	.popular__title {
		font-size: 1.214rem;
	}

	.popular__title:before, 
	.popular__title:after {
		width: 55px;
	}

	.popular__image-container {
		height: 148px;
		margin-bottom: 10px;
	}

	.popular__description-title {
		margin-bottom: 5px;
	}

	.popular__description-title:before {
		width: 22px;
		left: 10px;
	}
	
	.popular__link {
		min-height: 27px;
		margin-bottom: 15px;
	}

	.popular__image_hover-text:before {
		height: 27px;
	}

	.popular__image_hover:before {
		border-bottom: 3px solid #bfa48d;
	}

	.popular-list {
		margin-bottom: 10px;
	}

	.popular__button,
	.popular__button:hover,
	.popular__button:focus {
		height: 27px;
		line-height: 1.857rem;
		margin-bottom: 20px;
		font-size: 0.857rem;
	}

	.constructed {
		margin-top: 50px;
		padding-top: 15px;
	}

	.constructed__title {
		margin-bottom: 230px;
	}

	.carousel-2 {
		top: 100px;
	}

	.indicators-pos {
		bottom: -50px;
	}

	.right.carousel-controls.carousel-2-controls {
		background-size: 250px;
		height: 18px;
		width: 17px;
		background-position: -101px -324px;
	}

	.left.carousel-controls.carousel-2-controls {
		background-size: 250px;
		height: 18px;
		width: 17px;
		background-position: -95px -102px;
	}

	.carousel-indicators.carousel-2-indicators {
		height: 17px;
	}

	.carousel-2-indicators:before, 
	.carousel-2-indicators:after {
		width: 41px;
	}

	.constructed__button,
	.constructed__button:hover,
	.constructed__button:focus {
		height: 27px;
		line-height: 1.857rem;
		font-size: 0.857rem; 
	}

	.carousel-2__link-img_hover-description__title:before {
		bottom: -8px;
	}

	.carousel-2__link-img_hover-text {
		height: 27px;
		line-height: 1.786rem;
		border-top: 1px solid #bfa48d;
		border-bottom: 1px solid #bfa48d;
	}

	.carousel-2__link-img_hover-description__list {
		margin-bottom: 10%;
	}

	.services-list {
		padding: 80px 60px 0 100px;
	} 

	.services-item {
		width: 140px;
		background-size: 147px 1500px;
		padding-top: 20px;
		margin-right: 40px;
		margin-bottom: 75px;
	}

	.services__text {
		padding-left: 55px;
	}

	.services-img_1 {
		background-position: -47px -45px;
	}

	.services-img_2 {
		background-position: -47px -171px;
	}

	.services-img_3 {
		background-position: -47px -294px;
	}

	.services-img_4 {
		background-position: -47px -417px;
	}

	.services-img_5 {
		background-position: -47px -539px;
	}

	.services-img_6 {
		background-position: -47px -662px;
	}

	.services {
		margin-bottom: 40px;
	}

	.consultation-title {
		margin-bottom: 20px;
	}

	.consultation-title:before {
		width: 106px;
		bottom: -12px;
		background: #f5f0ed;
	}

	.consultation .row-1 {
		margin-bottom: 60px;
	}

	.consultation .row-1:before {
		width: 35px;
		height: 42px;
		background-size: 182px 1230px;
		bottom: -50px;
		background-position: -75px -1113px;
	}

	.form-container {
		padding: 15px 0 0 0;
	}

	.form-title {
		margin-bottom: 15px;
	}

	.form-control {
		height: 20px;
	}

	.form-area {
		height: 45px !important;
	}

	.form-area::-webkit-input-placeholder {
		line-height: 30px;
	}

	.form-group {
		margin-bottom: 10px;
	}

	.button-form,
	.button-form:hover,
	.button-form:focus {
		height: 28px;
		line-height: 1.857rem;
		font-size: 0.714rem;
	}
	
	.consultation {
		margin-bottom: 52px;
	}
	
	.footer-info-list {
		margin-bottom: 25px;
	}

	.info-list__title {
		margin-bottom: 5px;
	}

	.info-list__descriprion {
		white-space: nowrap;
	}

	.footer-subtitle {
		padding-left: 35px;
		margin-bottom: 10px;
	}

	.footer-subtitle:before {
		width: 23px;
		background: #fff;
	}

	.footer-subnav-list {
		padding-left: 35px;
	}

	.subnav-item {
		margin-bottom: 5px;
	}

	.footer .container .row-2 {
		margin-bottom: 30px;
	}

	.footer-title {
		margin-bottom: 10px;
	}

	.footer .container {
		padding-bottom: 5px;
	}

	.footer-social-list {
		padding-left: 35px;
	}

	.footer-social-link {
		background-size: 232px 153px;
		width: 15px;
		height: 18px;
	}

	.footer-social-link_fb {
		background-position: -32px -30px;
	}

	.footer-social-link_fb:hover {
		background-position: -106px -30px;
	}

	.footer-social-link_inst {
		width: 20px;
		background-position: -181px -30px;
	}

	.footer-social-link_inst:hover {
		background-position: -32px -106px; 
	}
	
	.footer-form__search.form-control {
		height: 16px;
		font-size: 0.571rem;
	}

	.scroll-top {
		background-position: -60px -941px;
		background-size: 153px 1018px;
	}

	.scroll-top-wrapper {
		width: 24px;
		height: 24px;
	}

	.scroll-top-wrapper.show:hover {
		background: none;
	}
}


/************
***  md  ****
************/
/*@media screen and (min-width: 992px) and (max-width: 1200px) {
	html {
		font-size: 15px;
	}
	
	.carousel-caption_shading {
		padding-bottom: 6%;
	}

	.carousel-caption__title {
		font-size: 1.800rem;
		margin-bottom: 0.5%;
	}

	.carousel-caption__description {
		font-size: 1.214rem;
		margin-bottom: 2%;
	}

	.button-carousel {
		font-size: 0.800rem;
		height: 35px;
		line-height: 2rem;
	}

	.nav-list {
		height: 121px;
	}

	.button-building {
		width: 120%;
		margin-left: -13px;
		line-height: 2.667rem;
	}

	.popular__image-container {
		height: 196px;
	}

	.popular__description-title:before {
		width: 30px;
		left: 12px;
	}

	.popular__link {
		min-height: 310px;
	}

	.popular__description-item {
		font-size: 1rem;
	}

	.carousel-2-indicators:before, 
	.carousel-2-indicators:after {
		width: 38%;
	}

	.constructed__title {
		margin-bottom: 305px;
	}

	.carousel-2__link-img_hover-description__list {
		margin-bottom: 7%;
	}

	.carousel-2__link-img_hover-text {
		height: 43px;
	}

	.button-form {
		font-size: 0.900rem;
	}

	.info-list-item:nth-child(2){
		padding-right: 0;
	}

	.info-list__descriprion {
		font-size: 0.7rem;
	}
	}*/


/************
***  lg  ****
************/
@media screen and (min-width: 1200px) {
	html {
		font-size: 16px;
	}
}